{% extends 'base.html.twig' %}

{% block body %}
    {% set content %}
        {% include 'text/header1.html.twig' with {content: 'Headline Sponsor 2026'} %}
        <p>
            Our headline sponsor is underway. More news will follow soon.
        </p>
    {% endset %}
    {% include 'section/section-white.html.twig' with {align: 'center', content: content} %}

    {% set content %}
        {% include 'text/header1.html.twig' with {content: 'This event requires funding'} %}
        <p>
            This community event is not a fancy show, but still requires funding.
            Want to chip in? We would be grateful if you could sponsor.
        </p>
        <div>
            {% include 'components/cta_button.html.twig' with { style: 'white', href: '/become-sponsor', text: 'Become a sponsor yourself'} %}
        </div>
    {% endset %}
    {% include 'section/section-red.html.twig' with {content: content} %}

    {% set content %}
        {% include 'text/header1.html.twig' with {content: 'Our main sponsors 2026'} %}
        <p>
            Our first sponsors are in the process of signing up. But we need more sponsors to survive.
        </p>
        <div>
            {% include 'components/cta_button.html.twig' with { href: '/become-sponsor', text: 'Help us out by promoting your brand'} %}
        </div>
    {% endset %}
    {% include 'section/section-white.html.twig' with {align: 'center', content: content} %}

    {% set content %}
        {% include 'text/header1.html.twig' with {content: 'I have sponsored'} %}
    {% endset %}
    {% include 'section/section-red.html.twig' with {content: content} %}

    {% set sponsors = [
        {
            url: 'https://nl.mage-os.org',
            logo: 'mage-os-nl-square.png',
            title: 'Mage-OS Nederland',
            css: 'max-h-[160px]'
        },
        {
            url: 'https://www.magmodules.eu/',
            logo: 'magmodules.png',
            title: 'MagModules',
            css: 'max-h-[160px]'

        },
        {
            url: 'https://www.madebymouses.com/',
            logo: 'made-by-mouses.svg',
            title: 'Made By Mouses'
        },
    ] %}
    {% set content %}
        {% include 'text/header1.html.twig' with {content: 'Support Sponsors'} %}
        {% include 'text/header3.html.twig' with {content: 'For we drink our beers on you'} %}
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 my-4 md:my-16">
            {% for sponsor in sponsors %}
                <div class="flex justify-center items-center">
                    <a href="{{ sponsor.url }}">
                        <img src="{{ asset('images/logos/' ~ sponsor.logo) }}" alt="{{ sponsor.title }}"
                             class="{{ sponsor.css|default('') }} w-100 object-contain">
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endset %}
    {% include 'section/section-white.html.twig' with {content: content} %}

{% endblock %}
