<div class="flex justify-center items-center py-4 md:py-20 px-4 md:px-8 leading-6 text-white bg-red-700">
    <section class="w-full md:w-6xl md:py-20 px-2 md:px-8 text-center">
        {{ content }}
    </section>
</div>
